body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 50px;
    background-color: #eee;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    flex-grow: 1;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: red;
    margin-bottom: 100px;
}

a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background-color: #ccc;
    color: #555;
}

#game-board {
 gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  color: red;
  font-size: 42px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid red;
  border-radius: 50%;
  position: relative;
}

.goblin {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.hammer-cursor {
    width: 100px;
    height: 100px;
    background: url('../img/hammer.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 4px double #ddd;
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
}

th:hover {
    background-color: #f5f5f5;
}

.up-sort::after {
    content: '↑';
    margin-left: 10px;
    font-weight: normal;
}

.down-sort::after {
    content: '↓';
    margin-left: 10px;
    font-weight: normal;
}
